@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* toastify */
.Toastify__toast--error.Toastify__toast {
  color: red !important;
}

.Toastify__toast--success.Toastify__toast {
  color: green !important;
}
.Toastify__toast--warning.Toastify__toast {
  color: yellow !important;
}
.Toastify__toast-body {
  font-size: 0.9rem;
}

.Toastify__toast--error.Toast__progress_bar {
  background-color: red !important;
}

.Toastify__progress-bar--success {
  background-color: green !important;
}

.Toastify__progress-bar--error {
  background: red !important;
}
.Toastify__progress-bar--warning {
  background: yellow !important;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: red;
}
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: green;
}
.Toastify__toast--warning .Toastify__toast-icon svg {
  fill: yellow;
}
/* end toastify */
